.home{
    background: rgb(0, 0, 0);
    height: auto;
}

 .title {
    font-size: 30px;
}

.navbarClass{
    background-color: rgb(0, 0, 0) !important;
     
    
}

.navClass{
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content:space-between !important;
    

}

.navbarTitle{
    color: rgb(241, 231, 231) !important;
    font-size: x-large;
}

.containerClass{
    width: 100%;
}


.imgNav{
    height: 35px;
    width: 35px;
}

/*ITEM*/
.divItem {
    
    text-align: center;
}

.card{
    width: 89%;
    height: 310px;
    margin-bottom: 50px;
}

.cardimg {
    background-position: center;
    text-align: center;
    width: 100%;
        
}


/*-.----------------*/


/*Cart*/

.buttonCart {
    width: 100%;
    background-color: rgb(202, 138, 0);
    background-position: center;
}

.productContainerCart {
    border: rgb(241, 231, 231);
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(0, 0, 0);
    min-height: 89vh;
}

.listGroup{
    text-align: center;
    font-size: 18px;    
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: auto;
    
}

.rowClass {
    margin: 15px;
}

.cantidadItem{
    width: auto;
    text-align: center;
    
}

.spanTotalCarrito {
    font-weight: 700;
    font-size: 28px;
}

.filtersCart {
    background-color: rgb(0, 0, 0);
    color: rgb(247, 6, 66);
    padding: 20px;
    display: flex;
    flex-direction: column;    
    width: 25%;
    height: auto;
    text-align: center;
    justify-content: space-around;
}



/*---------------*/



/*CartWidget Styles*/
.cartitem {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10 20px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    
}

.cartItemImg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}


.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
    font-size: 85%;
}


.cartButton {
    width: 85%;
    margin: 0 10px;
}

/*--------------------------------------*/

.buttonAdd{
    width: auto;
    padding-top: 3px;
    margin: 3px;
}






@media (max-width: 771px) {

    .filters {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filters > span {
        font-size: 10px;
        
    }

    .summary{
        width: 98%;
        height: 50%;
        text-align: center;
    }

    .title {
        font-size: 18px !important;
    }
   

    .search {
        display: none !important;
    }

    .products {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .navbarClass{
        background-color: rgb(0, 0, 0) !important;
        font-size: 15px; 
        
        
    }

    .containerClass{
        display: flex;
        flex-direction: column;
    }

    .listGroup{
        text-align: center;
        width: 98%;
    }

    .productContainerCart {
        border: rgb(241, 231, 231);
        display: flex;
        width: auto;
        height: auto;
        padding: 20px;
        padding-top: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        background-color: rgb(0, 0, 0);
        min-height: 74vh;
    }
}